<html>
    <head>
        <link rel = "stylesheet" href = "home/static/css/home.css"> 
    </head>
    <body>
        <h1 align = "center"> Esta es la pagina de inicio </h1>

        <img src= "C:\Users\ErickBV\Desktop\proyectos\WEB\home\templates\images", height  = "50px" width =  "100px" alt = "hola"  border= "10px" />

        <p align = center>  aqui veremos quienes somos,
        <br/> nuestra mision y vision,
        <br/> ademas de un indice para las otras apps! </p> 
        <br/> 

        <p class = "titulo", align = center>
            <b> Misión: </b> <br/> <br/>
        </p>
        <p class = "cuerpo", align = center>
            "Trabajar arduamente para transportar a nuestros clientes
            <br/>
            de forma segura, cómoda y económica, prestando especial interés
            <br/>
             en el mantenimiento de las unidades y la capacitación
            <br/>
            de todas las personas que laboramos en la empresa."


            <br/><br/><br/><br/><br/>
        </p>

        <p class = "titulo", align = center>
            <b> Visión: </b> <br/> <br/>
        </p>
        
        <p class = "cuerpo", align = center>
            "Queremos ser una empresa líder en el uso de las mejores tecnologías
            <br/>
            que fomenten el uso del transporte masivo de pasajeros."
                <br/><br/><br/><br/><br/>
        </p>
        
        <p align = "center">
            <br/><br/><br/><br/><br/>

            <a href="http://127.0.0.1:8000/horarios"  align= "center" > ir a horarios </a>
            <br/>
            <br/>
            <a href = "http://127.0.0.1:8000/mensajes"> ¿Tiene alguna queja o sugerencia? Haganoslo saber  </a>
        </p>
    </body>
</html>