<!DOCTYPE html>
<html>
	<h1 align = "center"><span> <b> Horarios </b></span></h1>
	<br/>
	<br/>
	<br/>
	<br/>
	<body bgcolor = "white" font color = "black">
		<table border = "12" align = "center">
			<tr>
				 <th>Duacari</th>
				 <th>Pueblo Nuevo</th> <!-- th sirve para hacer titulos de columna en una fila-->
				 <th>Ticaban</th>
				 <th>Cascadas</th>
				 <th>La Sonia</th>
				 <th> La Rita</th>
				 <th>El Humo</th>
				 <th>La Colonia</th>
				 <th>Villa Franca</th>
				 <th>Leticia (sabados)</th>
				 <th>Leticia (domingos)</th>
				</tr>
			<tr>
				<td>03:30am Duacari 2 - Nazaret</td> <td></td> <td></td> <td></td> <td></td> <td></td><td></td><td></td><td></td><td></td><td></td>
			</tr> <!-- deberia hacer un td (table data)para las horas, no como lo estoy haciendo, una columna solo de horas, de tooooodas las horas-->
			<tr>
				<td>03:30am Duacari 3</td><td></td><td></td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td>04:50am Duacari 4-3</td><td></td><td></td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td>07:10am Duacari 2</td><td></td><td></td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			 </tr>
			<tr>
				<td>07:20am Lesville - Trinidad</td><td></td><td></td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			 </tr>
			 <tr>
				<td>07:45am Santa Clara</td><td></td><td></td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			 </tr>
			<tr>
				<td>08:20am Leticia</td><td></td><td></td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			  </tr>
			<tr>
				<td>09:10am Duacari 2</td><td></td><td></td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			  </tr>
			 <tr>
				<td>09:20am Leticia</td><td></td><td></td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			  </tr>
			<tr>
				<td>07:20 Lesville - Trinidad</td><td></td><td></td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			  </tr>
		</table>
	<p> <br/><br/><br/><br/><br/></p>
        <a href = "http://127.0.0.1:8000/"> volver a pagina principal </a>
        <br/><br/> <br/>
        <a href = "http://127.0.0.1:8000/mensajes">¿Tiene alguna queja o sugerencia? Haganoslo saber  </a>
    </body>
</html>