<!DOCTYPE html> 
<html>
	<head>
		<title> Sugerencias</title>
	</head>

	<body>
		<h1 align = "center"><span>Ayudenos a mejorar</span></h1>

		<p> <br/> <br/> <br/> <br/> <br/> </p>

		<form autocomplete = "on">
		   <p align = "center"> Nombre: <br/> <input name="name" type="text" placeholder="Escriba aqui su nombre..." style="width: 300px; height: 50px;"/> </p> <br/>
		   <p align = "center"> Correo electronico: <br/> <input name="correo electronico" type="email" placeholder="email@ejemplo.com" style="width: 300px; height: 50px;" /> </p> <br/>
		</form>

		<form>
		   <p align = "center"> Si se refiere a una queja o incidencia por favor digite la fecha en que ocurrio: <br/>
		   <input type = "date"/> </p>
		   <p align = "center"> hora: <input type = time> </p> 
		   <br/> <br/>
		   <p align = "center"> Su mensaje: <br/> <textarea name="mensaje" style="width: 643px; height: 161px;" min  = "10">  </textarea>
		   <br/> <br/> <br/> <br/> 
		  <input type="submit" value="enviar" class="submit" /></p>
		</form>

		<frame>
		<frameset cols="100, 25%, *"></frameset>
		<frameset rows="100, 25%, *"></frameset>
		</frame>
		<p> <br/> <br/><br/><br/><br/> </p>


        <a href = 'http://127.0.0.1:8000/'> volver a pagina principal </a>
         <br/>
        <a href = 'http://127.0.0.1:8000/horarios'> ir a horarios </a>

	</body>
</html>